<div class="menu-section">
  <ul>
      <li><a href="https://silo.org.br/sobre/">sobre</a></li>
      <li><a href="https://silo.org.br/quem-somos/">quem somos</a></li>
      <li><a href="https://silo.org.br/noticias/">notícias</a></li>
      <li><a href="https://silo.org.br/doe/">doe</a></li>
  </ul>
</div>
<div class="menu-section">
  <ul>
      <li><a href="/">Sobre a Silo Escola</a></li>
      <li><a href="/cursos/">Cursos</a></li>
  </ul>
</div>
<div class="menu-section">
  {% include social-icons.html %}
  {% include language-selection.html %}
</div>
