<div  id="popup-newsletter" class="sidebar popup-show popup-hide">
  <a href="javascript:void(0)" id="hide-popup" class="closebtn">×</a>
    <div id="mc_embed_signup">
      <iframe width="440" height="305" src="https://76abd233.sibforms.com/serve/MUIEABnPkeNpFe3SDFR343j4xNO9D_aZomWLIQIENOHdadl7f2GW2GJb6u075zCfMAbKFLQlbJ0ynKHFaNcwplm4PAxQdvN4hv-mfb8eC23izROAkKdSJ43IVGaBq7DgzFO6Rt9da-FD3SP_RmGTfe_uKqPr2Sscq0cFWDUD9TX6olCf3Jf_WjFU2QRFYV6XYfzPiSQtj1k0E5r5" frameborder="0" scrolling="none" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
    </div>
</div>

<div id="newsletter">
    {% if page.lang == 'pt' %}
    <button class="openbtn">&nbsp ASSINE NOSSA NEWSLETTER &nbsp</button>  
    {% else %}
    <button class="openbtn">SUBSCRIBE TO OUR NEWSLETTER</button>  {% endif %}  
</div>

<script type="text/javascript" src="{{ site.baseurl }}/js/newsletter.js">
</script>